
#container {
    margin-top: 1%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 100px;
    text-align: center;
    border: 1px dotted black;
    border-radius: 5px;
    background-color: #1636eb67;
}

.link-padding {
    padding-top: 5%;
}